.right{
	float:right;
}

.left{
	float:left;
}

.checkInput{
	width:130px;
	vertical-align:middle;
}

.north{
	border-bottom:1px solid #ddd;
	height:28px;
	padding:2px 2px 2px 2px;
	background:#fafafa;
}

.checktb{
	width:130px;
	vertical-align:middle;
}

.comdialog{
	width:400px;
	padding:10px;
}

.matpanel{
	padding:10px 10px 5px 10px;
}

.inwidth{
	width:100%;
}

.mbottom{
	margin-bottom:10px;
}
