.textbox-label {
    display: inline-block;
    width: 70px !important;
    height: 22px;
    line-height: 22px;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    padding-right: 5px;
}

.north{
	border-bottom:1px solid #ddd;
	height:110px;
	padding:2px 2px 2px 2px;
	background:#fafafa;
}

.toolSelect{
	text-align: center;
	margin-top: 10px;
}

.starttimelabel{
	text-align: left; 
	height: 24px; 
	line-height: 24px;
}

.endtimelabel{
	text-align: left;
	height: 24px; 
	line-height: 24px;
	margin-left: 10px
}

.notdatebtn{
	width: 125px;
}

.datebtn{
	width: 125px;
	margin-lef:10px
}

.visitrecord{
	width:560px;
	padding:10px;
}

.vrpanel{
	padding:10px 10px;
}

.vsmesleft{
	float:left;
	width: 65%;
}

.vsinput{
	margin-bottom:15px;
	width:300px;
}

.vsmesright{
	float:left;
	width: 35%;
}

.record{
	float:left;
	width: 100%;
	margin-top: 10px;
}

.recordinputleft{
	margin-bottom:10px;
	float:left;
	width:260px;
}

.recordinputright{
	margin-bottom:10px;
	float:left;
	width:260px;
	margin-left:10px;
}

.checkrecord{
	margin-left:180px;
	float:left;
}




