<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 关键字请使用大写字母, 表名, 属性名用小写 -->
<mapper namespace="com.menjin.user.mapper.ResourceMapper">
	<resultMap type="com.menjin.user.model.Resource" id="resourceResultMap">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="parent_desc" property="parentDesc" jdbcType="VARCHAR" />
		<result column="resKey" property="resKey" jdbcType="VARCHAR" />
		<result column="description" property="description" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="allField" >
	    resource_url, name, parent_desc, resKey, description
	</sql>
	
	<insert id="insert" parameterType="com.menjin.user.model.Resource" useGeneratedKeys="true"
		keyColumn="id">
		INSERT INTO t_resource(
        <include refid="allField"/>) VALUES (
        #{resourceUrl}, #{name}, 
        #{parentDesc},#{resKey}, #{description})
	</insert>
	
	<select id="selectAllResources" resultMap="resourceResultMap">
		select * from t_resource
	</select>
	
	<select id="selectByPage" resultMap="resourceResultMap">
	    SELECT r.* FROM t_resource r where 1 = 1
	    
	    	<if test="null!=params">
				 <foreach collection="params.keys" item="key" separator=" " >
				 	and ${key} = #{params[${key}]}  
				 </foreach>
	    	</if>
	    	<if test="null != orderByField">
		    	ORDER BY #{orderByField}
			</if>
		    <if test="null!=page and null!=page.pageSize">
		      LIMIT #{page.startRowNum}, #{page.pageSize}
		    </if>
	</select>
	
	<select id="selectCount" resultType="java.lang.Integer" >
	    SELECT COUNT(1) FROM t_resource where 1 = 1
	    <if test="null!=params">
				 <foreach collection="params.keys" item="key" separator=" " >
				 	and ${key} = #{params[${key}]}  
				 </foreach>
	    </if>
	</select>
	
	<select id="selectByPrimaryKey" parameterType="com.menjin.user.model.Resource" resultMap="resourceResultMap">
		select * from t_resource where id = #{id}
	</select>
	
	<select id="selectByResourceUrl" parameterType="String" resultMap="resourceResultMap">
		select * from t_resource where resource_url = #{resourceUrl}
	</select>
	
	<select id="selectParent" resultType="String">
		SELECT distinct parent_desc FROM t_resource
	</select>
	
	<delete id="deleteByPrimaryKey" parameterType="com.menjin.user.model.Resource">
		delete from t_resource  where id = #{id}
	</delete>
	
	<update id="updateByPrimaryKey" parameterType="com.menjin.user.model.Resource">
		update t_resource set resource_url=#{resourceUrl},name=#{name},parent_desc=#{parentDesc},
		resKey=#{resKey},description=#{description} where id = #{id}
	</update>
	
	<select id="getResourcesByRoleId" parameterType="Integer" resultMap="resourceResultMap">
		SELECT r.* FROM t_resource r WHERE r.id in 
		(SELECT t.resource_id FROM t_role_resource t where t.role_id =#{roleId})
	</select>
	
	<select id="getResourcesByUserId" parameterType="Integer" resultMap="resourceResultMap">
		SELECT r.* FROM t_resource r WHERE r.id in 
		(SELECT t.resource_id FROM t_role_resource t where t.role_id 
		in (select ur.role_id from t_user_role ur where ur.user_id = #{userId}))
	</select>
	
	<select id="getResourcesByUsername" parameterType="String" resultMap="resourceResultMap">
		SELECT r.* FROM t_resource r WHERE r.id in 
		(SELECT t.resource_id FROM t_role_resource t where t.role_id 
		in (select ur.role_id from t_user_role ur , t_user u where ur.user_id = u.id
		and u.username = #{username}))
	</select>
	
	<insert id="insertRolesResource" parameterType="com.menjin.user.model.RolesResource">
		insert into t_role_resource(role_id,resource_id) values (#{roleId},#{resourceId})
	</insert>
	
	<insert id="deleteRolesResource" parameterType="com.menjin.user.model.RolesResource">
		DELETE FROM t_role_resource WHERE role_id = #{roleId} AND resource_id = #{resourceId}
	</insert>
</mapper>  
