<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- SQL 关键字请使用大写字母, 表名, 属性名用小写 -->
<mapper namespace="com.menjin.visit.mapper.VisitorMapper">
	<resultMap type="com.menjin.visit.model.Visitor" id="resultMap">
		<id column="id" property="id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
		<result column="visitor_name" property="visitorName" jdbcType="VARCHAR" />
		<result column="id_card_type" property="IdCardType" jdbcType="VARCHAR" />
		<result column="id_card_num" property="IdCardNum" jdbcType="VARCHAR" />
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="nation" property="nation" jdbcType="VARCHAR" />
		<result column="birth" property="birth" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="mobile" property="mobile" jdbcType="VARCHAR" />
		<result column="email" property="email" jdbcType="VARCHAR" />
		<result column="rank" property="rank" jdbcType="VARCHAR" />
		<result column="created_by" property="createBy" jdbcType="VARCHAR" />
		<result column="created_time" property="createdTime" jdbcType="TIMESTAMP" />
		<result column="modified_date" property="modifiedDate" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="columnList" >
	    id, visitor_name,id_card_type,id_card_num,sex,nation,birth,
	    address,mobile,email,rank,created_by,created_time,modified_date
	</sql>
	
	<sql id="condition">
	    <if test="null!=params" >
	        <if test="null!=params.queryCondition and ''!=params.queryCondition" >
	            ${params.queryCondition}
	        </if>
	        <if test="null!=params.status and ''!=params.status" >
	            AND rank = '${params.status}'
	        </if>
	    </if>
	</sql>
	
	<insert id="insert" parameterType="com.menjin.visit.model.Visitor" useGeneratedKeys="true"
		keyColumn="id">
		INSERT INTO t_visitor(visitor_name,id_card_type,id_card_num,sex,nation,birth,
	    address,mobile,email,rank,created_by,created_time,modified_date) VALUES (
		#{visitorName},#{IdCardType},#{IdCardNum},#{sex},#{nation},#{birth},
		#{address},#{mobile},#{email},#{rank},#{createBy},#{createdTime},#{modifiedDate})
	</insert>

	<update id="updateByPrimaryKey" parameterType="com.menjin.visit.model.Visitor">
		UPDATE t_visitor SET visitor_name = #{visitorName},id_card_type = #{IdCardType},
		id_card_num = #{IdCardNum},sex = #{sex},nation = #{nation},
		birth = #{birth},address = #{address},mobile = #{mobile},email = #{email},
		rank = #{rank},modified_date = #{modifiedDate} WHERE id=#{id}
	</update>

	<select id="selectByPrimaryKey" parameterType="com.menjin.visit.model.Visitor"  resultMap="resultMap">
		SELECT 
		<include refid="columnList" /> 
		FROM t_visitor WHERE id=#{id}
	</select>
	
	<select id="selectByIDCar" parameterType="com.menjin.visit.model.Visitor"  resultMap="resultMap">
		SELECT 
		<include refid="columnList" /> 
		FROM t_visitor WHERE id_card_num=#{idCardNum}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="com.menjin.visit.model.Visitor">
		DELETE FROM t_visitor WHERE id=#{id}
	</delete>
	
	<select id="selectCount" resultType="java.lang.Integer" >
	    SELECT COUNT(1) FROM t_visitor WHERE 1 = 1 
	    <include refid="condition" />
	</select>
	
	<select id="selectByPage" resultMap="resultMap">
	    SELECT 
		t1.*
		FROM t_visitor t1
		INNER JOIN 
		(
		    SELECT id FROM t_visitor WHERE 1 = 1
		    <include refid="condition" />
		    <if test="null!=page and null!=page.pageSize">
		      LIMIT #{page.startRowNum}, #{page.pageSize}
		    </if>
		) AS t2
		ON t1.id = t2.id
		WHERE 1 = 1
		<if test="null != orderByField">
		    ORDER BY #{orderByField}
		</if>
	</select>
</mapper>  